body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    margin-top: 5vh;
}

.card {
    background-color: white;
    margin: auto;
    max-width: 30%;
    max-height: 100vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -9px #000;
}

.image_hero img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.body_card {
    text-align: center;
    margin-bottom: 3vh;
}

.body_card h3 {
    font-weight: 900;
}

.body_card p {
    color: #8185a2;
    font-weight: 500;
    line-height: 1.5;
}

.annual_plan {
    max-width: 80%;
    background-color: #f8f9fe;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.annual_plan .image_music {
    margin-left: -1vw;
    margin-right: -3.5vw;
    margin-top: 1vh;
}

.annual_plan .price h5 {
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 0.9em;
}

.annual_plan .price p {
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 0.9em;
    font-weight: 500;
    color: #8185a2;
}

.annual_plan .change a {
    color: #1a1178;
    font-size: 0.9em;
    font-weight: 700;
}

.annual_plan .change a:hover {
    color: #8185a2;
    text-decoration: none;
}

.button {
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 0.9em;
}

.button .button_proceed {
    background-color: #1a1178;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    margin-bottom: 2vh;
    padding: 9px 15px 9px 15px;
    text-align: center;
    text-decoration: none;
    width: 70%;
}

.button .button_proceed:hover {
    background-color: #8185a2;
}

.button .cancel_order {
    color: #8185a2;
    font-weight: 900;
    text-decoration: none;
}

.button .cancel_order:hover {
    color: black;
}


/* Responsive Mobile */
@media screen and (max-width:991px) {
    .card {
        max-width: 50%;
        max-height: 100vh;
    }
}

@media screen and (max-width:479px) {
    body {
        font-size: 0.8em;
    }

    .card {
        max-width: 80%;
        max-height: 100vh;
    }
}